# ETL

## LOAD DATA
---

### Install the required packages

In [ ]:
pip install -r requirements.txt

### Import and read the csv file

In [3]:
import pandas as pd

raw = pd.read_csv("insurance.csv")

## TRANSFORM DATA
---

### Rename the English column names to Portuguese language

In [4]:
raw.rename(
    columns={
        "age": "idade",
        "sex": "genero",
        "bmi": "imc",
        "children": "filhos",
        "smoker": "fumante",
        "region": "regiao",
        "charges": "encargos",
    },
    inplace=True,
)

### Convert the column names and values to Portuguese language

In [5]:
def region_replace(value):
    return {
        "southwest": "sudoeste",
        "southeast": "sudeste",
        "northwest": "noroeste",
        "northeast": "nordeste",
    }.get(value, value)


raw["regiao"] = raw["regiao"].apply(region_replace)
raw["genero"] = raw["genero"].apply(lambda value: "masculino" if value == "male" else "feminino")
raw["fumante"] = raw["fumante"].apply(lambda value: "sim" if value == "yes" else "não")

raw

      idade     genero     imc  filhos fumante    regiao     encargos
0        19   feminino  27.900       0     sim  sudoeste  16884.92400
1        18  masculino  33.770       1     não   sudeste   1725.55230
2        28  masculino  33.000       3     não   sudeste   4449.46200
3        33  masculino  22.705       0     não  noroeste  21984.47061
4        32  masculino  28.880       0     não  noroeste   3866.85520
...     ...        ...     ...     ...     ...       ...          ...
1333     50  masculino  30.970       3     não  noroeste  10600.54830
1334     18   feminino  31.920       0     não  nordeste   2205.98080
1335     18   feminino  36.850       0     não   sudeste   1629.83350
1336     21   feminino  25.800       0     não  sudoeste   2007.94500
1337     61   feminino  29.070       0     sim  noroeste  29141.36030

[1338 rows x 7 columns]